@media only screen and (max-width: 1144px) {
  .section-container {
    padding: 0 var(--spacing-md);
  }
}

/* TABLET SIZE */
@media only screen and (max-width: 850px) {
  /* PARTNERS SECTION */
  .partners-grid img {
    width: 100%;
    height: auto;
  }

  /* INTEGRATIONS SECTION */
  .integrations-section .col-left {
    width: 70%;
  }

  .integrations-section .col-right {
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --h1-size: 64px;
    --h1-height: 72px;
    --h3-size: 34px;
  }

  /* UNIFIED PLATFORM SECTION */
  .unified-platform-section h2 {
    width: 100%;
  }

  /* INTEGRATIONS SECTION */
  .integrations-section .card-container {
    flex-direction: column;
  }

  .integrations-section .card-container .card {
    width: 100%;
  }

  #api-code {
    margin: 0 0 var(--spacing-lg) 0;
  }

  /* WHY SWIPE SECTION*/
  .why-swipe-section .card-container {
    flex-wrap: wrap;
  }
  .why-swipe-section .card-container .card {
    width: 50%;
    margin: var(--spacing-md) 0;
    padding: 0 var(--spacing-md);
  }

  /* GLOBAL SCALE SECTION */
  .global-section .card-container {
    flex-wrap: wrap;
    margin: var(--spacing-xl) 0;
  }

  .global-section .card-container .card {
    width: 50%;
    margin: var(--spacing-md) 0;
  }

  .global-section .two-column .col-left {
    width: 100%;
    margin: 0;
  }

  .virtual-events-section .col-left {
    height: 446px;
    padding: 0 var(--spacing-md) 0 0;
  }
}

/* MOBILE SIZE */
@media only screen and (max-width: 550px) {
  .two-column {
    flex-direction: column;
  }

  .two-column .col-left {
    width: 100%;
  }

  .two-column .col-right {
    width: 100%;
    padding: 0;
  }

  /* PARTNERS SECTION */
  .partners-grid {
    grid-template-columns: 1fr 1fr;
  }

  /* INTEGRATIONS SECTION */
  .integrations-section .col-right {
    display: none;
  }

  /* WHY SWIPE SECTION */
  .why-swipe-section .card-container .card {
    width: 100%;
    margin: var(--spacing-sm) 0;
  }

  .why-swipe-section .card-container .card .icon {
    height: 35px;
  }

  /* GLOBAL SCALE SECTION */
  .global-section .card-container .card {
    width: 100%;
    margin: var(--spacing-sm) 0;
  }

  #globe {
    opacity: 10%;
  }

  /* VIRTUAL EVENTS SECTION */
  .virtual-events-section .swipe-sessions-card {
    margin: var(--spacing-lg) 0;
    width: 100%;
  }

  .virtual-events-section .swipe-sessions-card .secondary-text {
    width: 100%;
  }

  .virtual-events-section .swipe-sessions-card .card-top {
    height: 40%;
  }

  .virtual-events-section .col-left {
    height: 446px;
    padding: 0;
  }

  #sessions-logo {
    width: 300px;
  }
}
